<a href="https://colab.research.google.com/github/rjunejabe24-eng/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Worksheet 1
(Python):
Reedhima Juneja
*1024230091* *italicized text*

Reedhima Juneja: 1024230091
Worksheet 1

Question 1:

In [ ]:
print("Twinkle, twinkle, little star, \nHow I wonder what you are! Up above the world so high, \nLike a diamond in the sky. \nTwinkle, twinkle, little star, \nHow I wonder what you are")

Twinkle, twinkle, little star,
How I wonder what you are! Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

Question 2

In [ ]:
first= input("Enter your first name: ")
last= input("Enter your last name: ")
print(last, " ", first)

Enter your first name: are
Enter your last name: you
you   are

Question 3:

In [ ]:
r=int(input("Enter radius: "))
print("The area of circle is: ", (22/7)*r*r)

Question 4

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0]," , ", color_list[-1])

Question 5

In [ ]:
n=int(input("Enter number: "))
print(n+(n*n)+(n*n*n))

Question 6

In [ ]:
values=input("enter the numbers: ")
list = values.split(",")
print(list)

enter the numbers: 1,2,3,4,5,6,7
['1', '2', '3', '4', '5', '6', '7']

Question 7

In [ ]:
c=int(input("Enter temp in celcius: "))
print("Temp in Fahrenheit is: ", (c*9/5)+32)

Enter temp in celcius: 5
Temp in Fahrenheit is:  41.0

Question 8:

In [8]:
x=int(input("Enter number 1: "))
y=int(input("Enter number 2: "))
temp=x
x=y
y=temp
print("1st number: ",x)
print("2nd number ",y+1)

Enter number 1: 5
Enter number 2: 7
1st number:  7
2nd number  6

Question 9:

In [15]:
n=int(input("Enter number: "))
if(n%2==0):
  print(n , "is even")
else: print(n , " is odd")

Enter number: 5
5  is odd

Question 10:

In [ ]:
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a Leap Year")
else:
    print(year, "is NOT a Leap Year")

Question 11:

In [ ]:
import math

x1, y1 = map(float, input("Enter coordinates of first point (x1 y1): ").split())
x2, y2 = map(float, input("Enter coordinates of second point (x2 y2): ").split())

distance = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
print("Euclidean Distance:", distance)

Question 12:

In [ ]:
a = int(input("Enter first angle: "))
b = int(input("Enter second angle: "))
c = int(input("Enter third angle: "))

if a + b + c == 180 and a > 0 and b > 0 and c > 0:
    print("The angles form a Triangle")
else:
    print("The angles do NOT form a Triangle")

Question 13

In [ ]:
P = float(input("Enter Principal amount: "))
R = float(input("Enter Rate of Interest: "))
T = int(input("Enter Time (in years): "))

A = P * ((1 + R / 100) ** T)
CI = A - P

print("Compound Interest:", CI)

Question 14:

In [ ]:
n = int(input("Enter a positive integer: "))

if n <= 1:
    print(n, "is NOT a Prime Number")
else:
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print(n, "is NOT a Prime Number")
            break
    else:
        print(n, "is a Prime Number")

Question 15

In [ ]:
N = int(input("Enter a positive integer N: "))

sum_squares = sum(i ** 2 for i in range(1, N + 1))
print("Sum of squares:", sum_squares)