<a href="https://colab.research.google.com/github/rjunejabe24-eng/Python/blob/main/Worksheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reedhima Juneja: 1024230091

Question 1:

In [2]:
# Initial List
L = [11, 12, 13, 14]

# (i) Add 50 and 60 to L
L.append(50)
L.append(60)
print("(i)", L)

# (ii) Remove 11 and 13 from L
if 11 in L:
    L.remove(11)
if 13 in L:
    L.remove(13)
print("(ii)", L)

# (iii) Sort L in ascending order
L.sort()
print("(iii)", L)

# (iv) Sort L in descending order
L.sort(reverse=True)
print("(iv)", L)

# (v) Search for 13 in L
if 13 in L:
    print("(v) 13 is present in L")
else:
    print("(v) 13 is NOT present in L")

# (vi) Count number of elements in L
print("(vi)", len(L))

# (vii) Sum of all elements in L
print("(vii)", sum(L))

# (viii) Sum of all ODD numbers in L
odd_sum = sum(x for x in L if x % 2 != 0)
print("(viii)", odd_sum)

# (ix) Sum of all EVEN numbers in L
even_sum = sum(x for x in L if x % 2 == 0)
print("(ix)", even_sum)

# (x) Sum of all PRIME numbers in L
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(x for x in L if is_prime(x))
print("(x)", prime_sum)

# (xi) Clear all elements in L
L.clear()
print("(xi)", L)

# (xii) Delete L
del L
# print(L)  # This will give an error since L is deleted
print("(xii) L is deleted")

(i) [11, 12, 13, 14, 50, 60]
(ii) [12, 14, 50, 60]
(iii) [12, 14, 50, 60]
(iv) [60, 50, 14, 12]
(v) 13 is NOT present in L
(vi) 4
(vii) 136
(viii) 0
(ix) 136
(x) 0
(xi) []
(xii) L is deleted

Question 2:

In [3]:
L = [11, 12, 13, 14, 15]

total = 0
for item in L:
    total = total + item

print("Sum of all items in the list:", total)

Sum of all items in the list: 65

Question 3:

In [ ]:
L = [2, 3, 4, 5]

product = 1
for item in L:
    product = product * item

print("Product of all items in list:", product)

Question 4:

In [ ]:
L = [2, 3, 4, 5]

array = [[['*' for _ in range(6)] for _ in range(4)] for _ in range(3)]

print(array)

Question 5:

In [ ]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

# (i) Add new entry (key=8, value=8.8)
D[8] = 8.8
print("(i)", D)

# (ii) Remove key=2
if 2 in D:
    D.pop(2)
print("(ii)", D)

# (iii) Check whether key=6 is present
if 6 in D:
    print("(iii) Key 6 is present")
else:
    print("(iii) Key 6 is NOT present")

# (iv) Count number of elements
print("(iv) Number of elements:", len(D))

# (v) Add all values (manual sum without sum())
total = 0
for value in D.values():
    total = total + value
print("(v) Sum of values:", total)

# (vi) Update value of key=3 to 7.1
if 3 in D:
    D[3] = 7.1
print("(vi)", D)

# (vii) Clear dictionary
D.clear()
print("(vii)", D)

Question 6

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# (i) Add 55 and 66 in S1
S1.add(55)
S1.add(66)
print("(i)", S1)

# (ii) Remove 10 and 30 from S1
S1.discard(10)  # discard avoids error if element not found
S1.discard(30)
print("(ii)", S1)

# (iii) Check if 40 is present in S1
if 40 in S1:
    print("(iii) 40 is present in S1")
else:
    print("(iii) 40 is NOT present in S1")

# (iv) Union of S1 and S2
print("(iv)", S1.union(S2))

# (v) Intersection of S1 and S2
print("(v)", S1.intersection(S2))

# (vi) Difference S1 - S2
print("(vi)", S1 - S2)

QUestion 7

In [ ]:
# (i)
import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    rand_str = ''.join(random.choice(string.ascii_letters) for _ in range(length))
    print(rand_str)
# (ii)
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num, end=" ")
#(iii)
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num, end=" ")

Question 8:

In [ ]:
exam_st_date = (11, 12, 2025)
print("The examination will start from: %i / %i / %i" % exam_st_date)

QUestion 9

In [ ]:
numbers = [10, 23, 45, 66, 75, 90, 123]
for n in numbers:
    if n % 5 == 0:
        print(n, end=" ")

Question 10

In [ ]:
n = int(input("Enter a number: "))
is_even = (n % 2 == 0)

if is_even:
    print(n, "is Even")
else:
    print(n, "is Odd")

Question 11

In [ ]:
text = "Emma is good. Emma likes coding. Emma is a student."
count = 0
sub = "Emma"

for i in range(len(text) - len(sub) + 1):
    if text[i:i+len(sub)] == sub:
        count += 1

print("Emma appears", count, "times")

Question 12:

In [ ]:
list1 = [10, 21, 32, 43, 55]
list2 = [12, 25, 36, 47, 50]

new_list = [x for x in list1 if x % 2 != 0] + [y for y in list2 if y % 2 == 0]
print("New List:", new_list)

QUestion 13:

In [ ]:
positions = [(2,3), (4,5), (6,7), (7,8)]

even_positions = [pos for pos in positions if pos[0] % 2 == 0]
print("Positions with even x-coordinate:", even_positions)

Question 14

In [ ]:
sensor_data = {1: 2.3, 2: 4.5, 3: 1.8, 4: 3.6}

above_three = [sensor_id for sensor_id, reading in sensor_data.items() if reading > 3.0]
print("Sensor IDs with reading > 3.0:", above_three)

Question 15

In [ ]:
commands_received = {"MOVE", "TURN_LEFT", "TURN_RIGHT", "STOP"}
commands_executed = {"MOVE", "TURN_LEFT", "STOP"}

not_executed = commands_received - commands_executed
print("Commands not executed:", not_executed)